#pattern{
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("../images/pattern.jpeg");

}

.title{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes{
    background-color: mediumspringgreen;
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#frames{
    background-color: lightcoral;
}

#paint{
    background-color: skyblue;
}

h2, p{
    font-family: Helvetica;
}